{% extends "layout.html" %}

{% block title %}
    Explanations
{% endblock %}

{% block main %}
    <h1>The purpose</h1>
    <img src="https://raw.githubusercontent.com/Marcelo0479/recommendation_system/main/explanation%20meme.png">
    <br>

    <p>
    <h4>The purpose of this app is to provide title hints based on a reference title.
    The mechanics about this recommendation come of an algorithm of machine learn called
    TfidfVectorizer. Briefly, it compares some texts from each title and creates a matrix
    with a coefficient of similarity between each title and all other titles. In this case,
    the title text consists of the description, parental guideline, and genre of each title.</h4>
    </p>

    <br>
    <br>

    <h2>Limitations</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnnF8m3TAnguKxRLnrAOQqe1qdrk5kW24Ukg&usqp=CAU">
    <br>

    <p>
    <h4>Sadly, the free acount of heroku cloud platform is very limited.
    For this reason, the titles database is limited to titles with an average score greater than 7.</h4>
    </p>
{% endblock %}
