{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <h1>The purpose</h1>
    <img src="https://raw.githubusercontent.com/Marcelo0479/recommendation_system/main/explanation%20meme.png">


    <h4>The purpose of this app is to provide title hints based on a reference title.</h4>
    <h4>The mechanics about this recommendation come of an algorithm of machine learn called</h4>
    <h4>TfidfVectorizer. Briefly, it compares some texts from each title and creates a matrix</h4>
    <h4>with a coefficient of similarity between each title and all other titles. In this case,</h4>
    <h4>the title text consists of the description, parental guideline, and genre of each title.</h4>


    <h2>Limitations</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnnF8m3TAnguKxRLnrAOQqe1qdrk5kW24Ukg&usqp=CAU">
    <h1> </h1>

    <h4>Sadly, the free acount of heroku cloud platform is very limited.</h4>
    <h4>For this reason, the titles database is limited to titles with an average score greater than 7.</h4>
{% endblock %}
