{% extends 'layout.html' %}

{% block title %}
    Genres options
{% endblock %}

{% block main %}
    <h1>Genres filter</h1>
    <br>
    <h3>{{title_name}}</h3>
    <br>
    <h4> Would you like to filter by genre? If yes, click on the chosen genre, if no, just click submit.</h4>
    <form action="/genre_choice" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title's Genres</th>
                </tr>
            </thead>
            <tbody>
                {% for genre in genres %}
                    <tr>
                        <td>
                            <input name="genre" type="checkbox" value="{{ genre }}">
                            <label style="background-color:DarkSeaGreen; font-size:20px">
                                {{ genre }}
                            </label>
                        </td>
                    </tr>
                {% endfor%}
                    <tr>
                        <td>
                            <input type="submit" value="Submit">
                        </td>
                    </tr>
            </tbody>
            <input name="title" type="hidden" value="{{ title_name }}">
        </table>
    </form>
{% endblock %}