{% extends 'layout.html' %}

{% block title %}
    Your reference title
{% endblock %}

{% block main %}
    <h2>Enter a title you liked and I'll recommend the top ten other similar titles on streaming services.</h2>
    <form action='/' method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="title" placeholder="title" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}

