{% extends 'layout.html' %}

{% block title %}
    Titles options
{% endblock %}

{% block main %}
    <h1>Opções</h1>
    <form action="/options" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Titulos</th>
                </tr>
            </thead>
            <tbody>
                {% for option in options %}
                    <tr>
                        <td>
                            <input name="title" type="submit" value="{{ option }}">
                        </td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>
    </form>
{% endblock %}